:root {
    /* Fonts */
    --main-fontfamily: 'Inter', sans-serif;
    --terminal-font: 'Fira Code', monospace;
    
    /* Font Weights */
    --caption2-weight: 400;
    --caption2-strong-weight: 600; 
    --caption1-weight: 400;
    --caption1-strong-weight: 600; 
    --caption1-stronger-weight: 700;
    --body1-weight: 400;
    --body1-strong-weight: 600;
    --body1-stronger-weight: 700;
    --body2-weight: 400;
    --subtitle2-weight: 600;
    --subtitle2-stronger-weight: 700;
    --subtitle1-weight: 600;
    --title3-weight: 600;
    --title2-weight: 600;
    --title1-weight: 600;
    --largetitle-weight: 600;
    --display-weight: 600;

    --thin: 100;
    --thin: 100;
    --thin: 100;
    --thin: 100;
    --thin: 100;
    --thin: 100;
    --thin: 100;

    /* Font Sizes */
    --caption2-size: 10px;
    --caption2-strong-size: 10px; 
    --caption1-size: 12px;
    --caption1-strong-size: 12px; 
    --caption1-stronger-size: 12px;
    --body1-size: 14px;
    --body1-strong-size: 14px;
    --body1-stronger-size: 14px;
    --body2-size: 16px;
    --subtitle2-size: 16px;
    --subtitle2-stronger-size: 16px;
    --subtitle1-size: 20px;
    --title3-size: 24px;
    --title2-size: 28px;
    --title1-size: 32px;
    --largetitle-size: 40px;
    --display-size: 68px;

    /* Font Line Heights */
    --caption2-lineheight: 14px;
    --caption2-strong-lineheight: 14px; 
    --caption1-lineheight: 16px;
    --caption1-strong-lineheight: 16px; 
    --caption1-stronger-lineheight: 16px;
    --body1-lineheight: 20px;
    --body1-strong-lineheight: 20px;
    --body1-stronger-lineheight: 20px;
    --body2-lineheight: 22px;
    --subtitle2-lineheight: 22px;
    --subtitle2-stronger-lineheight: 22px;
    --subtitle1-lineheight: 28px;
    --title3-lineheight: 32px;
    --title2-lineheight: 36px;
    --title1-lineheight: 40px;
    --largetitle-lineheight: 52px;
    --display-lineheight: 92px;

    /* Colors */
    --main-bg-color: #000;
    --primary-color: #00E4FF;
    --secondary-color: #F90361;
    --main-text-color: #fff;
    --text-color-aqua: #00E4FF;
    --text-color-green: #00FF19;
    --primary-other-color: #0C3E60;
}

/* Kısım - Komiteler - Başlangıç */



/* Slide Galeri - Bitiş */

/* Kısım - Komiteler - Bitiş */